.MessageBox {

    display: flex;
    flex-direction: column;
    margin: 5% 15%;
}

.MessageBox .message {
    color: black;
    font-size: 20pt;
    margin-bottom: 15px;
}

.MessageBox button {
    border-radius: 10px;

    height: 50px;

    border-style: none;
    background-color: #ffd900;
    color: rgb(0, 0, 0);
    font-size: 16pt;
}

.MessageBox button:hover {
    cursor: pointer;
}
